@model List<LISAdapt.Models.BinarLietotajs>
@{
    ViewData["Title"] = "Modifikācija 2 (M2ABO)";
}
<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>a1</th>
            <th>b1</th>
            <th>c1</th>
            <th>a2</th>
            <th>b2</th>
            <th>c2</th>
            <th>a3</th>
            <th>b3</th>
            <th>c3</th>
            <th>a4</th>
            <th>b4</th>
            <th>c4</th>
            <th>a5</th>
            <th>b5</th>
            <th>c5</th>
            <th>a6</th>
            <th>b6</th>
            <th>c6</th>
            <th>Klase</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var item in Model)
        {
        <tr>
            <td>@item.a1</td>
            <td>@item.b1</td>
            <td>@item.c1</td>
            <td>@item.a2</td>
            <td>@item.b2</td>
            <td>@item.c2</td>
            <td>@item.a3</td>
            <td>@item.b3</td>
            <td>@item.c3</td>
            <td>@item.a4</td>
            <td>@item.b4</td>
            <td>@item.c4</td>
            <td>@item.a5</td>
            <td>@item.b5</td>
            <td>@item.c5</td>
            <td>@item.a6</td>
            <td>@item.b6</td>
            <td>@item.c6</td>
            <td>@item.Klase</td>
        </tr>

        }
    </tbody>
</table>