@model List<LISAdapt.Models.Lietotajs>
@{

    ViewData["Title"] = "Home Page";
}
<table>
    <thead>
        <tr>
            <th>Seansu Skaits</th>
            <th>Pavaditais Laiks</th>
            <th>Palidzibas Apmeklesana</th>
            <th>Veiktie Pasutijumi</th>
            <th>Atceltie Pasutijumi</th>
            <th>Piesaistitie Klienti</th>
            <th>Klase</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.SeansuSkaits
            </td>
            <td>
                @item.PavaditaisLaiksSistema
            </td>
            <td>
                @item.PalidzibasApmeklesana
            </td>
            <td>
                @item.VeiktiePasutijumi
            </td>
            <td>
                @item.AtceltiePasutijumi
            </td>
            <td>
                @item.PiesaistiKlienti
            </td>
            <td>
                <b>@item.Klase</b> 
            </td>
        </tr>
        }
    </tbody>
</table>